  --dsw-alias-bg-base:var(--dsw-static-neutral-bluish-00);
  --dsw-alias-bg-layer-1:var(--dsw-static-neutral-bluish-00);
  --dsw-alias-bg-layer-2:var(--dsw-static-neutral-bluish-00);
  --dsw-alias-bg-layer-3:var(--dsw-static-neutral-bluish-00);
  --dsw-alias-bg-mask-1:#0000003d;
  --dsw-alias-bg-mask-2:#0000001f;
  --dsw-alias-bg-mask-3:#0000007a;
  --dsw-alias-bg-mask-photo:#000000e0;
  --dsw-alias-bg-mask-drop:#ffffffb3;
  --dsw-alias-bg-module-platform:var(--dsw-static-neutral-bluish-60);
  --dsw-alias-bg-multi-select:var(--dsw-static-neutral-bluish-60);
  --dsw-alias-bg-overlay:var(--dsw-static-neutral-bluish-150);
  --dsw-alias-bg-skeleton:#0000000a;
  --dsw-alias-border-inverted2:#0000;
  --dsw-alias-border-inverted:#0000;
  --dsw-alias-border-l1:#0000000a;
  --dsw-alias-border-l2-darkmode-thin:#0000001a;
  --dsw-alias-border-l2:#0000001a;
  --dsw-alias-border-l3:#0000001f;
  --dsw-alias-border-l4:#00000029;
  --dsw-alias-brand-primary-invert:var(--dsw-static-neutral-bluish-1000);
  --dsw-alias-brand-primary-new-colorprimary-new-color:#4176e6;
  --dsw-alias-brand-primary:var(--dsw-static-neutral-bluish-1000);
  --dsw-alias-brand-text:var(--dsw-static-neutral-bluish-1000);
  --dsw-alias-button-contrast-fill:var(--dsw-static-neutral-bluish-700);
  --dsw-alias-button-elevated-fill:var(--dsw-static-neutral-bluish-00);
  --dsw-alias-button-floating-fill:var(--dsw-static-neutral-bluish-00);
  --dsw-alias-button-floating-hover:var(--dsw-static-neutral-bluish-75);
  --dsw-alias-button-ghost-active-border:var(--dsw-static-neutral-bluish-500);
  --dsw-alias-button-ghost-active-fill:var(--dsw-static-neutral-bluish-100);
  --dsw-alias-button-ghost-active-hover:var(--dsw-static-neutral-bluish-150);
  --dsw-alias-button-info-fill:var(--dsw-static-deepseek-500);
  --dsw-alias-button-info-hover:var(--dsw-static-deepseek-400);
  --dsw-alias-button-primary-dimmed:var(--dsw-static-neutral-bluish-100);
  --dsw-alias-button-primary-fill:var(--dsw-alias-brand-primary);
  --dsw-alias-button-primary-hover:var(--dsw-static-neutral-bluish-750);
  --dsw-alias-button-tool-bar-fill-invisible:#1f1f1f5c;
  --dsw-alias-button-tool-bar-fill:#54555780;
  --dsw-alias-button-tool-bar-hover:#54555799;
  --dsw-alias-interactive-bg-active:#2631481a;
  --dsw-alias-interactive-bg-hover-accent:#26314824;
  --dsw-alias-interactive-bg-hover-danger:#ec13130d;
  --dsw-alias-interactive-bg-hover-solid:var(--dsw-static-neutral-bluish-75);
  --dsw-alias-interactive-bg-hover:#2631480f;
  --dsw-alias-label-caption:var(--dsw-static-neutral-bluish-400);
  --dsw-alias-label-dimmed:var(--dsw-static-neutral-bluish-200);
  --dsw-alias-label-primary-bluish:var(--dsw-static-blue-900);
  --dsw-alias-label-primary-dimmed:var(--dsw-static-neutral-bluish-950);
  --dsw-alias-label-primary-foreground:var(--dsw-static-neutral-bluish-00);
  --dsw-alias-label-primary-inverted:var(--dsw-static-neutral-bluish-00);
  --dsw-alias-label-primary:var(--dsw-static-neutral-bluish-1000);
  --dsw-alias-label-secondary:var(--dsw-static-neutral-bluish-700);
  --dsw-alias-label-tertiary:var(--dsw-static-neutral-bluish-600);
  --dsw-alias-link:var(--dsw-static-deepseek-500);
  --dsw-alias-markdown-citation:var(--dsw-static-neutral-bluish-100);
  --dsw-alias-markdown-code-block-banner:var(--dsw-static-neutral-bluish-50);
  --dsw-alias-markdown-code-block:var(--dsw-static-neutral-bluish-50);
  --dsw-alias-markdown-code-segment-selected:var(--dsw-static-neutral-bluish-00);
  --dsw-alias-markdown-code-segment-unselected:var(--dsw-static-neutral-bluish-75);
  --dsw-alias-markdown-inline-code:var(--dsw-static-neutral-50);
  --dsw-alias-markdown-placeholder:var(--dsw-static-neutral-bluish-60);
  --dsw-alias-markdown-tag:var(--dsw-static-neutral-bluish-75);
  --dsw-alias-scrollbar-bg-l1:var(--dsw-static-neutral-200);
  --dsw-alias-scrollbar-bg-l2:var(--dsw-static-neutral-200);
  --dsw-alias-scrollbar-hover-l1:var(--dsw-static-neutral-300);
  --dsw-alias-scrollbar-hover-l2:var(--dsw-static-neutral-300);
  --dsw-alias-state-business-primary:var(--dsw-static-deepseek-500);
  --dsw-alias-state-business-tertiary:var(--dsw-static-deepseek-100);
  --dsw-alias-state-error-primary:var(--dsw-static-red-600);
  --dsw-alias-state-error-secondary:var(--dsw-static-red-400);
  --dsw-alias-state-success-primary:var(--dsw-static-green-500);
  --dsw-alias-state-success-secondary:var(--dsw-static-green-400);
  --dsw-alias-state-success-tertiary:var(--dsw-static-green-100);
  --dsw-alias-state-warn-label:var(--dsw-static-amber-600);
  --dsw-alias-state-warn-primary:var(--dsw-static-amber-500);
  --dsw-alias-state-warn-secondary:var(--dsw-static-amber-400);
  --dsw-alias-state-warn-tertiary:var(--dsw-static-amber-100);
  --dsw-alias-toast-bg:var(--dsw-static-neutral-bluish-800);
  --dsw-alias-tooltip-bg:var(--dsw-static-neutral-bluish-850);
  --dsw-specific-bubble-highlight:var(--dsw-static-deepseek-200);
  --dsw-specific-bubble:var(--dsw-static-deepseek-50);
  --dsw-specific-input-major:var(--dsw-static-neutral-bluish-00);
  --dsw-specific-login-input:var(--dsw-static-neutral-bluish-50);
  --dsw-specific-menu:var(--dsw-alias-bg-layer-3);
  --dsw-specific-selector:var(--dsw-static-neutral-bluish-60);
  --dsw-specific-sidebar-fill:var(--dsw-static-neutral-bluish-50);
  --dsw-specific-sidebar-nav-item-active-accent:var(--dsw-static-deepseek-100);
  --dsw-specific-sidebar-nav-item-active:var(--dsw-static-neutral-bluish-100);
  --dsw-specific-sidebar-nav-item-hover:var(--dsw-static-neutral-bluish-75);
  --dsw-specific-tip:var(--dsw-static-neutral-bluish-60);
